/*
  Type Selectors
*/
body {
  color: #878787;
  margin: 0;
  font-size: 150%;
}

h1 {
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}
/*
  Class Selectors
*/
.main-header {
  background-color: orange;
}

.title {
  color: white;
  font-size: 26px;
}

.primary-content,
.secondary-content {
  width: 60%;
}

.primary-content {
  text-align: center;
}

.secondary-content {
}

.t-border {
  border-top: 2px solid lightgrey;
}

/*
  ID Selector
*/
#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

/*
  Grow on hover animation
*/
.grow {
  transition: all 0.5s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

a:active {
  color: lightcoral;
}

:focus {
  color: white;
  background-color: orange;
}
